@font-face {
    src: url(/font/Triforce.ttf);
    font-family: "Hylian";
}

@font-face {
    src: url(/font/RocknRollOne-Regular.ttf);
    font-family: "Wind-Waker";
}

html {
    background-color:#091a28;
    color: gainsboro;
    font-family: 'Hylian', 'Courier New', Courier, monospace;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: gainsboro;
}

.backButton {
    text-decoration: underline;
    font-size: 1.2rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-family: 'Wind-Waker', 'Courier New', Courier, monospace;
}

.navList {
    display: flex;
    list-style: none;
    column-gap: 20px;
    justify-content: center;
    font-size: 1.3rem;
}

.navList li:not(:last-child) {
    border-right: solid 2px white;
    padding-right: 20px;
}

.navList .active {
    font-size: 2rem;
    text-decoration: underline;
}

.listContainer {
    margin: 20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    border-top: solid 2px white;
}

.itemContainer {
    background-color: #143049;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px white;
}

.itemImage {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.itemHeader {
    text-align: center;
}

.contentContainer {
    display: flex;
    flex: 1 1 auto;
    gap: 20px;
    border-top: solid 2px white;
    padding-top: 20px;
}

.locationDetails {
    border: solid 2px white;
    padding: 10px;
    max-height: 800px;
    background-color: #143049;
}

.locationList li {
    margin-bottom: 20px;
    font-size: 1.3rem;
}

.detailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #143049;
    border: solid 2px white;
}

.statsList {
    display: flex;
    gap: 50px;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
    margin-top: 0;
}

.detailsImage {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.equipmentDescription {
    margin-inline: 5%;
    font-size: 1.5rem;
}

.contactContainer {
    width: 100%;
}

.formContainer {
    background-color: #143049;
    margin-inline: 20%;
    border: solid 2px white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
}

form input, textarea {
    width: 50%;
    height: 30px;
    background-color: #091a28;
    color: white;
    font-family: 'wind-waker' ,'Courier New', Courier, monospace;
    border: solid 2px white;
    border-radius: 5px;
    font-size: 1.2rem;
}

label {
    font-size: 2rem;
    margin-block: 20px;
}

textarea {
    height: 100px;
}

.formError {
    margin: 0;
    color: red;
    display: none;
}

button {
    background-color: white;
    border-radius: 20px;
    color: #091a28;
    font-family: 'wind-waker', 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding: 10px;
    margin-block: 20px;
}